@model BugTracker.Models.TicketComment

<div class="row">
    @using (Html.BeginForm("Edit", "TicketComments", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
    <div class="col-xs-9" style="padding-right:0">
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("TicketId", Model.TicketId)
        @Html.TextBoxFor(model => model.CommentBody, null, new { @class = "form-control" })
    </div>
        <div class="col-xs-1">
                <input class="btn" style="margin-left:0" type="submit" value="Edit" />
        </div>
    }

</div>
