@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@model BugTracker.Models.Ticket

@{ 
    var userId = User.Identity.GetUserId();
    var projectHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
}
    <div class="box box-solid">
        <div class="box-header">
            <i class="fa fa-info-circle"></i>
            <h3 class="box-title">
                <strong>@Model.Title Info</strong>
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-sm" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Submitter</th>
                        <th>Assigned User</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    @*@{Html.RenderAction("RenderTicketsPartial", "Tickets", new { ticketId = Model.Id });}*@
                    @Html.Action("RenderTicketsPartial", "Tickets", new { ticketId = Model.Id })

                </tbody>
                </table>
        </div>
    </div>
