select[multiple], select[size] {
    height: 100px;
    width: 235px;
    position: center;
}

.modal {
    top: 10vh;
    right: 20vh;
    bottom: 10vh;
    left: 40vh;
    height: 80vh;
}

.modal-body {
    background-color: rgb(58,70,74);
}

.item > strong, .item > small, .item > p,
.item > .col-md-3 > strong, .item > .col-md-3 > small, .item > .col-md-3 > p,
.row > strong, .row > small, .row > p {
    color: rgb(83,140,138);
}

.row > a {
    color: rgb(86,204,200);
}

.back {
    background-color: white;
    padding: 2vh;
}

.edit-cell {
    border: none !important;
    background-color: rgb(58,70,74) !important;
}

.edit-box {
    height: 12vh;
}

.skroll {
    margin: 2vh;
}

.box-solid {
    max-height: 77vh;
}
