select[multiple], select[size] {
    height: 100px;
    width: 200px;
    position: center;
}

td {
    position: center;
}

#notify.fullscreen {
    z-index: 9999;
    width: inherit;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 230px;
}

#history.fullscreen {
    z-index: 9999;
    width: inherit;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 230px;
}

#comments.fullscreen {
    z-index: 9999;
    width: inherit;
    height: auto;
    position: fixed;
    top: 50px;
    left: 230px;
}


aside.main-sidebar {
    position:fixed;
}