select[multiple], select[size] {
    height: 100px;
    width: 200px;
    position: center;
}

.modal {
    top: 10vh;
    right: 20vh;
    bottom: 10vh;
    left: 40vh;
    height: 80vh;
}

.modal-body {
    background-color: rgb(58,70,74);
}

.item > strong, .item > small, .item > p {
    color: rgb(83,140,138);
}

.row > strong, .row > small, .row > p {
    color: rgb(83,140,138);
}
.row > a {
    color: rgb(86,204,200);
}